.green {
    background: #007AB2 !important;
    
}

body {
    background-image: url(../images/upfeathers.png);
}

#game-container{
    max-width: 53%;
    max-height: 1;
}

.red {
    background: red !important;
}

.small-box {
    background-color: #FFE2A0;
    border: 1px solid black;
    height: 50%;
}

.content-box {
    border: 1px solid black;
    background-image: url(../images/honda-stage.jpg);
}

/* .allbox{
      height: 100% !important;
  } */

footer {
    
    border-top: solid black 2px;
    background:  #007AB2;
    height: 5%;
}
